<nav>
    <!--<a href="/" {% if page.url == "/" %}style="color: red;"{% endif %}>
      J&C's Circuitous Journey
    </a>
    <a href="/places.html" {% if page.url == "/places.html" %}class="selected;"{% endif %}>
      Places
    </a>
    <a href="/food.html" {% if page.url == "/food.html" %}class="selected;"{% endif %}>
      Food
    </a>
    <a href="/map.html" {% if page.url == "/map.html" %}class="selected;"{% endif %}>
      Travel Map
    </a>
    <a href="/about.html" {% if page.url == "/about.html" %}style="color: red;"{% endif %}>
      About Us
    </a>
    <a href="/about.html" {% if page.url == "/about.html" %}style="color: red;"{% endif %}>
      Social
    </a>-->
    <a href="/places.html">
      Places
    </a>
    <a href="/food.html">
      Food
    </a>
    <a href="/map.html" >
      Travel Map
    </a>
    <a href="/about.html">
      About Us
    </a>
    <a href="/about.html">
      Social
    </a>
</nav>